.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100;
  width: 100% !important;
  background: linear-gradient(
    to bottom,
    rgba(88, 74, 74, 0.8),
    rgba(255, 255, 255, 0)
  ) !important;
  outline: none !important;
  box-shadow: none !important;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 40px;
  width: auto;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 24px;
  padding: 6px 16px;
  width: 40%;
  max-width: 500px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 2.5px solid #ffffff;
}

.search-bar:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-color: #bdbdbd;
}

.search-bar:focus-within {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-color: rgba(88, 74, 74, 0.8);
}

.search-icon {
  color: #5f6368;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 5px;
}

.search-input {
  flex: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-button {
  color: white !important;
  text-transform: none !important;
  font-weight: 500 !important;
  transition: all 0.3s ease !important;
  border-radius: 4px !important;
  padding: 6px 12px !important;
  font-size: large !important;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #706f6a !important;
  transform: translateY(-2px);
}
